= form_tag posts_path, method: :get, id: 'filter_avg' do
  .form-group
    = number_field_tag :avg_score, nil, within: 1..5, placeholder: 'Avg score', class: 'form-control'
  .form-group
    = submit_tag 'Filter', class: 'btn btn-outline-primary'